.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 5px 0;
	margin: 5px 0;
	width: 100%;
	font-size: 14px;
}

.sender {
	text-transform: capitalize;
	font-weight: bold;
}

.messageWrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	gap: 10px;
}

.message {
	word-break: break-all;
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 20px;
}

.date {
	color: gray;
	font-style: italic;
	font-size: 12px;
	justify-self: center;
}
