.container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.301);
	z-index: 2;
}

.wrapper {
	max-width: 470px;
	max-height: 300px;
	min-width: 270px;
	min-height: 200px;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border: 1px solid lightgray;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

.heading {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid lightgray;
	padding: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.heading > h3 {
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
}

.heading > span {
	font-size: 18px;
	line-height: 18px;
	text-transform: capitalize;
}

.sendBtn {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	color: #0095f6;
	font-size: 16px;
	font-weight: 400;
	padding: 5px;
}

.form {
	height: 100%;
	width: 100%;
}

.form > textarea {
	resize: none;
}

.message {
	height: 100%;
	width: 100%;
	padding: 10px;
	border: none;
	outline: none;
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	letter-spacing: 0.2px;
	font-family: inherit;
}

.closeModalBtn {
	position: absolute;
	top: 20px;
	right: 20px;
	border: none;
	background-color: transparent;
	outline: none;
	width: 30px;
	height: 30px;
	cursor: pointer;
	color: #fff;
	font-size: 25px;
}
